@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Barlow", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
    
  
}
#loom-companion-mv3{
  display: none;
}
section{
  overflow: hidden;
  
}