.Future {
  width: 100%;
  height: auto;
  background-color: #282c35;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30vh;
  padding-right: 30vh;
  overflow: hidden;
}
.FutureContent {
  width: 100%;
  
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.FutureContent > h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: white;
  display: flex;
  justify-content: center;
}
.FutureContent > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 12%;
  padding-right: 20vh;
  margin-bottom: 32px;
  margin-top: 20px;
  color: white;
  text-align: center;
  width: 70%;
}

.future_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Thinkcard {
  width: 324px;

  overflow: hidden;
  position: relative;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    355deg,
    rgba(2, 0, 36, 1) 33%,
    rgba(255, 121, 121, 0.3702731092436975) 100%
  );
  transition: transform 0.3s ease;
  height: 470px;
}

.Thinkcard:hover {
  transform: translateY(-10px);
}

.Thinkcard_img {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.Thinkcard_img img {
  width: 80%;
  height: 200px;
  display: block;
}

.Thinkcard_overlay {
  position: absolute;
  margin-left: 33px;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  text-align: center;
}

.Thinkcard:hover .Thinkcard_overlay {
  opacity: 1;
}

.Thinkcard_data {
  padding: 20px;
  text-align: left;
}

.Thinkcard_data h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.Thinkcard_data h3 {
  font-size: 16px;
  color: white;
  margin-bottom: 0;
}
@media (max-width: 1024px){
  .Future{
    width: 100%;
   padding: 0;
  }
  .FutureContent{
    width: 100%;
  }
  .future_cards{
    width: 90%;
  }
}
@media (max-width: 769px){
  .Future{
    width: 100%;
   padding: 0;
  }
  .FutureContent{
    width: 100%;
  }
  .FutureContent>h1{
    font-size: 50px;
  }
  .FutureContent>p{
    font-size: 20px;
    width: 90%;
   padding: 0;
  }
}
@media (max-width: 431px){
  .Future{
    width: 100%;
   padding: 0;
   margin: 0;
  }
  .FutureContent{
    width: 100%;
  }
  .FutureContent>h1{
    font-size: 20px;
  }
  .FutureContent>p{
    font-size: 12px;
    width: 90%;
   padding: 0;
  }
}
@media (max-width: 391px){
  .Future{
    width: 100%;
   padding: 0;
  }
  .FutureContent{
    width: 100%;
  }
  .FutureContent>h1{
    font-size: 20px;
  }
  .FutureContent>p{
    font-size: 12px;
    width: 90%;
   padding: 0;
  }
}