@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.sectionOne {
  font-family: "Barlow", sans-serif;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
.s1c {
  padding-left: 9%;
  padding-right: 20vh;
  position: absolute;
  left: 20vh;
  width: 75%;
  display: flex;
  justify-content: center;
}

.rotateimg {
  position: relative;
  width: 600px;
  height: 600px;
  left: -450px;
  bottom: 100px;
  background-image: url("https://cdn.prod.website-files.com/64fb873eb25058d1bc2035d0/6517224b1fc51dba93657614_orbits-vector.svg");
  background-position: center;
  background-size: cover;
  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.innersection {
  height: 316px;
  display: flex;
  align-items: center;
  gap: 90px;
  margin-left: 9%;
}

.innersection h2 {
  width: 572px;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  color: rgb(9, 95, 191);
}

.innersection .innersectionheading {
  width: 519px;
}

.innersection .sectioncontent {
  width: 474px;
}

.sectioncontent p {
  color: rgb(15, 15, 42);
  font-size: 28px;
  font-weight: 400;
  width: 474px;
}

.sectioncontent h3 {
  font-size: 28px;
  color: rgb(246, 50, 65);
  font-weight: 700;
  line-height: 34px;
  margin-top: 20px;
}

section {
  color: black;
}

/* Media Queries */

/* For tablets and small desktops */
@media (max-width: 1024px) {
  .sectionOne > .s1c > .innersection {
    width: 100%;
  }
  .innersection {
    flex-direction: column;
    align-items: center;
    left: 0;
    gap: 20px;
    padding-left: 0;
    text-align: center;
  }
  .innersection h2 {
    width: 90%;
    font-size: 50px;
    line-height: 54px;

    text-align: center;
  }
  section > .innersection {
    width: 100%;
  }
  section > .innersection {
    display: flex;
    flex-direction: row;
  }
  section > .innersection > .sectioncontent > p {
    text-align: left;
  }
  section > .innersection > .sectioncontent {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .innersection .innersectionheading,
  .innersection .sectioncontent {
    width: 100%;
  }
}

/* For large mobile devices */
@media (max-width: 768px) {
  section {
    height: 300px;
    padding: 20px;
    align-items: center;
  }
 
  section > .s1c > .innersection {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    gap: 80px;
    width: 100%;

    text-align:left;
    height: 250px;
  }
  section > .s1c > .innersection > .sectioncontent {
    width: 100%;
  }
  .rotateimg {
    left: -450px;
  }
  section > .s1c > .innersection > .innersectionheading > h2 {
    height: 100px;
    width: 100%;
    display: flex;
    text-align: left;
    margin-left: 20px;
  }
  section > .s1c > .innersection > .innersectionheading > h2 {
    font-size: 30px;
    height: 10px;
    width: 100%;
    line-height: 30px;
  }
  section > .innersection > .sectioncontent {
    height: auto;

    padding: 50px;
  }
  section .s1c > .innersection > .sectioncontent > p {
    height: 100px;
    font-size: 21px;
    margin-left: 19px;
    margin-top: 20px;
  }
  section .s1c > .innersection > .sectioncontent > h3{
    margin-left: 20px;
    margin-top: 30px;
  }
}

/* For small mobile devices */
@media (max-width: 480px) {
  

  .s1c {
    width: 100%;
    padding-right: 10px;
    margin: 0;
    height: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    left: 0%;
    overflow: visible;
  }
  .s1c > .innersection {
    width: 100%;
   
    margin: 20px;
  }
  .s1c > .innersection > .innersectionheading > h2 {
    text-align: center;
    width: 100%;
  }
  .s1c>.innersection>.sectioncontent>p {
    font-size: 18px;
    width: 100%;
    line-height: 20px;
    padding-top: 20px;
   

  }

  .sectioncontent h3 {
    font-size: 24px;
  }
  
}
@media (max-width: 391px){
  .sectionOne>.s1c>.innersection{
    gap: 100px;
    margin-right: 20px;
    margin-left: -10px;
  }
  section .s1c > .innersection > .sectioncontent > h3{
    margin-left: 20px;
  margin-top: 2px;
  }
}
@media (max-width: 320px) {
  section > .innersection {
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    left: -150px;
  }
  section > .innersection > .innersectionheading > h2 {
    width: 100%;
    line-height: 38px;
  }
  section > .innersection > .sectioncontent {
    gap: 20px;
  }
  .sectioncontent p {
    font-size: 20px;
    width: 100%;
    line-height: 20px;
  }

  .sectioncontent h3 {
    padding-top: 50px;
    font-size: 16px;
  }
  .s1c > .innersection > .innersectionheading > h2 {
    font-size: 21px;
  }
  .s1c > .innersection > .innersectionheading > h2 {
    font-size: 22px;
    line-height: normal;
  }
  .s1c > .innersection > .sectioncontent > p {
    font-size: 18px;
  }
  .s1c > .innersection > .sectioncontent > h3 {
    font-size: 20px;
  }
}
