.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: auto;
    height: auto;
}

.card {
    position: relative;
    width: 400px;
    height: 607px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ECF0FA;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .upper .title {
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.card .upper .description {
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .upper .title {
    display: none;
}

.card:hover .upper .description {
    display: block;
    color: black;
}
#upper{
    overflow: hidden;
   
    height: 300px;
}
#upper>img{
    width: 90%;
    height: 250%;
    position: relative;
    top:0px;
}


#card:hover {
    transform: scale(1.05); /* Optional: Add a hover scale effect */
}

#upper {
    position: relative;
}
#title{
    font-size: 30px;
    color: blueviolet;
    font-weight: ;
}
#lower {
    position: relative;
    padding: 10px;
    text-align: center; /* Optional: Center-align text */
}

#description {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}



#card:hover #title {
    display: none;
}
#card:hover #description {
    display: block;
    opacity: 1;
}
.upper{
    padding: 5px;
    
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upper>img{
    height: 100px;
    width: 100px;
}
.upper>h1{
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    text-align: center;
    color: rgb(15,15,42);
}
.upper>p{
   
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.lower{
    width: 100%;
    border-top: 0.7px solid red ;
    height: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px){
    .cards {
        margin: 0;
        width: 850px;
        display: flex;
        flex-wrap: wrap;
       
        justify-content: center;
    }
    .card{
        width: 400px;
    }
}
@media (max-width: 768px){
    .cards {
        margin: 0;
        width: 760px;
        display: flex;
        flex-wrap: wrap;
       
        justify-content: center;
    }
    .card{
        width: 350px;
    }
}
@media (max-width: 430px){
    .cards{
        overflow: hidden;
        width: 430px;
    }
}
@media (max-width: 391px){
    .cards{
        overflow: hidden;
        width: 390px;
    }
}
@media (max-width: 320px){
    .card{
        width: 300px;
    }
    .upper>p{
        display: block;
        border: solid rebeccapurple;
    }
}
