.tabsection {
  width: 100%;
  height: 736px;
  display: flex;
  border: solid black;
  color: white;
  background-color: #282c35;
  padding-left: 9%;
  padding-right: 20vh;
}

.tabsContent {
  display: flex;
  width: 1400px;
  margin: auto;
  padding: 10px 0px 96px;
  position: relative;
}

menu {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
  width: 13%;
  font-size: 56px;
  justify-content: center;
  line-height: 100px;
  font-weight: 700;
  text-align: left;
  padding-right: 60px;
  border-right: 0.5px solid white;
}

.active {
  width: 100%;
  color: white;
  border-right: 7px solid red;
}

.tabright {
  display: flex;
  gap: 100px;
  align-items: flex-start; /* Align to the top to maintain consistent layout */
  min-width: 700px; /* Maintain a consistent width */
}

#tab-content {
  width: 700px;
  color: white;
  padding-left: 100px;
  padding-top: 60px;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  overflow: visible;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
}

#tab-content p {
  font-size: 30px;
  font-weight: 500;
  line-height: 22px;
}

#tab-content h3 {
  margin-top: 25px;
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
}

#tab-content > ul {
  margin-top: 20px;

  list-style: disc;
}

#tab-content > ul > li {
  list-style: disc;
  display: flex;
  justify-content: left;
  font-size: 30px;
  font-weight: 400;
  line-height: 52px;
  margin-left: 50px;
  width: 100%;
}

.tabsimg {
  width: 600px;
  height: 500px;
  position: absolute;
  top: 100px;
  right: -120px;
}

.tabsimg img {
  width: 450px;
  height: 400px;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
}

#tab-content > .herobutton > div > .herobtntext > p {
  letter-spacing: 6px;
  width: 180px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 130px;
}

/* Media Queries */

/* For tablets and small desktops */

@media (max-width: 1024px) {
  .tabsection {
    height: 800px;
  }
  .tabsContent {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  menu {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    padding-right: 0;
    border-right: none;
    border-bottom: 0.5px solid white;
    order: -1; /* Move menu to the top */
    gap: 100px;
  }
  menu > li > button {
    font-size: 44px;
  }
  .active {
    border: none;
  }
  .tabsimg {
    width: 60%;
    height: auto;
    margin-top: 100px;
    order: 0;
  }
  .tabright > .tabsimg > img {
    height: 500px;
    width: 500px;
  }

  .tabright {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
    min-width: 0;
    order: 1;
    align-self: start;
  }

  #tab-content {
    width: 90%;
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
  }
  .tabsection > .tabsContent > .tabright > #tab-content {
    text-align: left;
  }
  .tabsection
    > .tabsContent
    > .tabright
    > #tab-content
    > .herobutton
    > div
    > .herobtntext
    > p {
    width: 180px;
    font-size: 20px;
  }

  .tabsimg img {
    width: 100%;
    height: auto;
  }
}

/* For large mobile devices */
@media (max-width: 768px) {
  .tabsection {
    height: 1050px;
    margin: 0;
    padding: 0%;
  }
  .tabsContent {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  menu {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    padding-right: 0;
    border-right: none;
    border-bottom: 0.5px solid white;
    order: -1; /* Move menu to the top */
    gap: 50px;
    margin-top: 0;
  }
  menu > li > button {
    font-size: 30px;
  }
  .tabsimg {
    width: 90%;
    height: auto;
    margin: 20px 0;
    order: 0; /* Move image after menu */
  }
  .tabsection
    > .tabsContent
    > .tabright
    > #tab-content
    > .herobutton
    > div
    > .herobtntext
    > p {
    width: 140px;
    font-size: 20px;
  }
  .tabright {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-width: 0;
    order: 1; /* Move content after image */
  }

  .tabsContent > .tabright > .tabsimg {
    width: 100%;
    left: 0px;
    height: 300px;
    top: 180px;
    display: flex;
    justify-content: center;
    & img {
      height: 300px;
      width: 350px;
    }
  }
  .tabsection
    > .tabsContent
    > .tabright
    > #tab-content
    > .herobutton
    > div
    > .herobtntext
    > p {
      width: 180px;
      margin: 0;
    }
  #tab-content {
    width: 90%;
    overflow: hidden;
    padding-left: 0;
    text-align: center;
    margin-top: 360px;
  }

  #tab-content p {
    font-size: 24px;
  }

  #tab-content h3 {
    font-size: 36px;
  }

  #tab-content ul li {
    font-size: 24px;
  }

  .tabsimg > img {
    width: 200px;
    height: 200px;
  }
}

/* For small mobile devices */
@media (max-width: 480px) {
  .tabsContent {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  menu {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    padding-right: 0;
    border-right: none;
    border-bottom: 0.5px solid white;
    order: -1; /* Move menu to the top */
  }

  .tabsimg {
    width: 90%;
    height: auto;
    margin: 20px 0;
    order: 0; /* Move image after menu */
  }

  .tabright {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-width: 0;
    order: 1; /* Move content after image */
  }

  #tab-content {
    width: 90%;
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
  }
  .tabsection
  > .tabsContent
  > .tabright
  > #tab-content
  > .herobutton
  > div
  > .herobtntext
  > p {
    margin: 0;
    width: 180px;
  }
  #tab-content p {
    font-size: 20px;
  }

  #tab-content h3 {
    font-size: 28px;
  }

  #tab-content ul li {
    font-size: 20px;
  }

  .tabsimg img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 360px) {
  .tabsection {
    height: 1150px;
  }
  .tabright > #tab-content > ul > li {
    margin: 0px;
  }
}
@media (max-width: 320px) {
  .tabsection {
    height: 1150px;
    margin: 0;
    padding: 0%;
  }
  .tabsContent {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  menu {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
    font-size: 16px;
    padding-right: 0;
    border-right: none;
    border-bottom: 0.5px solid white;
    order: -1; /* Move menu to the top */
  }

  .tabsimg {
    width: 90%;
    height: auto;
    margin: 20px 0;
    order: 0; /* Move image after menu */
  }

  .tabright {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-width: 0;
    order: 1; /* Move content after image */
  }

  #tab-content {
    width: 90%;
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
  }

  #tab-content p {
    font-size: 20px;
  }

  #tab-content h3 {
    font-size: 28px;
  }

  #tab-content ul li {
    font-size: 20px;
  }
  .tabsection
    > .tabsContent
    > .tabright
    > #tab-content
    > .herobutton
    > div
    > .herobtntext
    > p {
    margin: 0;
    font-size: 15px;
    width: 110px;
    letter-spacing: 2px;
  }
  .tabsection>.tabsContent>.tabright> #tab-content>.herobutton>div>.herobtnicon{
  font-size: 30px;    
  }
  #tab-content {
    overflow: hidden;
  }

  .tabsimg img {
    width: 100%;
    height: auto;
  }
}
