@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

footer{
    font-family: "Barlow", sans-serif;
    width: 100%;
    height: 632px;
    background-color: red;
    display: flex;
    justify-content: center;
    padding-left: 9%;
    padding-right: 9%;
}
.footercontent{
    width: 1862.58px;
    display: flex;
    height: 597px;
    justify-content: space-between;
    
}
.footerleft{
    width: 290px;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 80px;
}
.flogo{
    display: flex;
    gap: 20px;
    align-items: center;
}
.flogo>h1{
    font-weight: 600;
    font-size: 46px;
    color: white;
}
.flogo>img{
    height: 90px;
    width: 90px;
}
.fsocial{
    display: flex;
    width: 100%;
    height: 150px;
    gap: 10px;
    font-size: 40px;
    color: white;
    align-items: end;
}
.fcontact{
    margin-top: 50px;
    height: 80px;
}
.fcontact> .number{
    display: flex;
    gap: 10px;
    height: 43px;
    align-items: center;
    font-size: 22px;
    color: white;
    font-weight: 500;
}
.fcontact > .mail{
    color: white;
    font-weight: 500;
    display: flex;
    gap: 10px;
    height: 37px;
    align-items: center;
    font-size: 22px;
}
.footerright{
    width: 650px;
    display: flex;
    justify-content: space-evenly;
}
.footerright>.rightright{
    margin-top: 80px;
    width: 230px;
    display: flex;
    flex-direction: column;
  
    color: white;
}
.footerright>.rightleft {
  margin-top: 80px;
  width: 230px;
  display: flex;
  flex-direction: column;

  color: white;
}
.footerright>.rightleft >h3{
    font-size: 21px;
    font-weight: 500;
}
.footerright>.rightleft >h3:hover{
  color: rgb(102, 247, 199);
  cursor: pointer;
}
.footerright> .rightright >h3{
  font-size: 21px;
  font-weight: 500;
}
.footerright> .rightright >h3:hover{
  color: rgb(102, 247, 199);
  cursor: pointer;
}
.footerright>.rightleft>ol{
    margin-left: 10px;
    font-weight: 500;
}
.footerright> .rightright>ol{
  margin-left: 10px;
  font-weight: 500;
}
.footerright>.rightleft>ol>li{
    font-weight: 500;
    font-size: 18px;

}
.footerright> .rightleft>ol>li:hover{
  color: rgb(102, 247, 199);
  cursor: pointer;
}
.footerright> .rightright>ol>li{
  font-weight: 500;
  font-size: 18px;
}
.footerright> .rightright>ol>li:hover{
  color: rgb(102, 247, 199);
  cursor: pointer;
}

@media (max-width: 768px) {
  footer{
    height: 1000px;
  }
  .footercontent{
    width: 90%;
    margin: 0;
    padding: 0;
    flex-direction: column;
  
    align-items: center;
  }
  .footerleft{
   
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .footerleft>.fsocial{
    padding: 0;
    justify-content: center;
  }
  .footerright{
    width: 100%;
    gap: 20px;
  }
}
@media (max-width: 480px){
  footer{
    height: 1500px;
  }
  .footerleft{
    align-items: flex-start;
  }
  .footerleft>.fsocial{
    padding: 0;
    justify-content: flex-start;
  }
  .footerright{
    flex-direction: column;
    padding-left: 9%;
    align-items: start;
  }
}
@media (max-width: 322px){
  .flogo>h1{
    display: none;
  }
}