.navbar {
  height: 13vh;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 20vh;
  padding-right: 20vh;
  
}

.navbar-logo {
  color: white;
  text-decoration: none;
  gap: 10px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}
.navbar-logo > h1 {
  font-weight: 600;
}

.menu-icon {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
 
  align-items: center;
  height: 13vh;
  position: relative;
}

.nav-item a {
 
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-item a .IoIosArrowDown {
  margin-left: 5px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #1b1919;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover {
  background-color: #1888ff;
  
}

.nav-item.active .dropdown {
  display: block;
  
}

.services-submenu {
  width: 10rem;
  border-top:0.5px solid rgb(0, 241, 161);
  position: absolute;
  top: 90px;
  list-style: none;
  text-align: start;
}

.services-submenu li {
 
  background: rgb(212, 0, 0);
  cursor: pointer;
}

.services-submenu li a:hover {
  background: rgb(255, 1, 1);
}

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}
@media screen and (max-width: 1024px) {
  .navbar{
   
    flex-direction: column;
    height: 120px;
    margin: 0;
  }

  .navbar>ul{
    width: 120%; 
    margin: 0;
    justify-content: center;
  }
  .services-submenu {
    top: 72px;
    
  }
  
}
@media screen and (max-width: 960px) {
  .nav-items {
 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 10vh;
    left: -150%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-items.active {
    background: red;
    left: 0px;
    opacity: 1;
    width: 100%;
    
    transition: all 0.5s ease-in-out;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .nav-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: column;
    margin: 0;
    height: auto;
    
  }

  .nav-item a {
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #link{
    display: flex;
    justify-content: space-between;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right:-10px;
    transform: translate(-100%, 60%);
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .dropdown {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none;
  }

  .nav-item.active .dropdown {
    display: block;
  }



  .services-submenu {
    width: 100%;
    position: relative;
    top: 0;
  }

  .services-submenu li {
    text-align: left;
  }
}
@media screen and (max-width: 390px) {
  .services-submenu {
    width: 100%;
    position: relative;
    top: 0;
    
   
  }
  .nav-item.active{
    border: solid black;
  }
}